* {margin: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.left-section {
    display: flex;
    align-items: center;
  
}

.menu-icon span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
}

.logo {
    height: 40px;
    margin-left: 16px;
}

.buy-button {
  background-color: white!important; 
    color:black !important;
    border: 1px solid black !important;
    padding: 12px 24px;
    border-radius: 9px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'bitter', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
                0px 2px 4px rgba(0, 0, 0, 0.05);
}
.buy-button:hover {
  background-color:#496250!important;
  color: white !important;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 
              0px 2px 4px rgba(0, 0, 0, 0.1);

  transform: translateY(-2px);
}
/* Cuadro azul */
.esencia-imagenes {
    position: relative;
    text-align: center;
    padding: 40px 0 80px 0;
    min-height: 400px;
    background-color:#A6C6AF ;
  }
    
  .titulo {
    font-family: 'Bitter', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.1;
    font-size: 65px;
    line-height: 58px;
    letter-spacing: 4%;
    color: #496250;
    position: relative;
    display: inline-block;
    top: -30px;
    
  }
  .titulo::before {
    content: attr(data-text); 
    position: absolute;
    left: 0;
    top: -3px;
    z-index: -1;
    color: transparent;
    -webkit-text-stroke: 2px rgba(73, 98, 80, 0.5); 
  }
  
  .cerveza {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 400px;
    width: auto;
    z-index: 2;
  }
  
  .descripcion {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: white;             
  font-size: 0.85rem;
  z-index: 3;
  text-align: right;
  }
  
   /*Paisaje*/ 
.contenedor-imagen {
  position: relative;
  max-width: 1400px;
  background-color: #FBF3E1;
  padding: 16px;
  margin: 0 auto; /* Para centrar el contenedor si está dentro del body */
  overflow: hidden;
}

.paisaje {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centra la imagen */
}

.texto-superpuesto {
  position: absolute;
  padding: 8px 16px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente */
  border-radius: 12px;
  color: #000;
  max-width: 80%;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Bitter', serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
  
}

@media (max-width: 768px) {
  .texto-superpuesto {
    top: auto;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    font-size: 1rem;
   
  }
}
  

.bold{
  font-weight: 700;

}

  
/*Pubs y bodegas*/

.pubs-section {
  padding: 20px;
  max-width: 1400px;
  margin: auto;
  background-color:#FF894F;
  font-family: bitter;
  padding: 40px 40px;
  margin-bottom: 0;
  box-sizing: border-box;
  } 


.section-header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

}

.title-box {
  background-color: #FF9866;
  padding: 30px 50px;
  border-radius: 12px;
  flex: 1;
  min-width: 320px;
  color: black;
}

.title-box h2 {
  margin: 0;
  font-size: 2.5em;
}

.pubs {
  font-family: 'Bitter', serif;
  font-weight: 500;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 1.6;
  color: black;
}

.bodegas {
  font-family: 'Bitter', serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5rem;
  color:black;
  letter-spacing: 0.5px;
}

.text-box {
  flex: 2;
  min-width: 300px;
  text-align: center;
}

.text-box p {
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Bitter', serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;

}

.explore-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: white;
  border: 1px black solid;
  border-radius: 9px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
              0px 2px 4px rgba(0, 0, 0, 0.05);

 font-family: 'Bitter', serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
}


.explore-button:hover {
  background-color: #496250;
  color: white;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 
              0px 2px 4px rgba(0, 0, 0, 0.1);

  transform: translateY(-2px);
}

.beer-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 220px;
  height: 360px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  background-color: white; 


}

.card img {
  height: 140px;
  object-fit: contain;
  margin: 0 auto 10px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  margin: 5px 0 15px;
  font-family: 'Bitter', serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
}


.rojo {
  background-color: #731D12;
  color:white;
  border: 1px black solid;

}

.buy-buttonrojo {
    background-color: #731D12;
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
  
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
                0px 2px 4px rgba(0, 0, 0, 0.05);
 
}
.buy-buttonrojo:hover {
  background-color: #8E2A1F;
  color: white;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 
              0px 2px 4px rgba(0, 0, 0, 0.1);

  transform: translateY(-2px);
}

.oliva{
  background-color: #F2773B;
  border: 1px black solid;
}
.buy-buttonoliva {
  background-color: #F2773B;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;

  /* Elevación normal */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
              0px 2px 4px rgba(0, 0, 0, 0.05);
}
.buy-buttonoliva:hover {
  background-color: #F48F5E;
  color: black;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 
              0px 2px 4px rgba(0, 0, 0, 0.1);

  transform: translateY(-2px);
}

.verde {
  background-color: #455C42;
  color: white;
  border: 1px black solid;
}

.buy-buttonverde {
  background-color: #455C42;
  color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
              0px 2px 4px rgba(0, 0, 0, 0.05);
}
.buy-buttonverde:hover {
  background-color: #5F775B;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 
              0px 2px 4px rgba(0, 0, 0, 0.1);

  transform: translateY(-2px);
}

.azul {
  background-color: #72C3D7;
  border: 1px black solid;
  }
  .buy-buttonazul {
    background-color: #72C3D7;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
                0px 2px 4px rgba(0, 0, 0, 0.05);
  }
  .buy-buttonazul:hover {
    background-color: #A3DBE8;
    color: black;
  
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 
                0px 2px 4px rgba(0, 0, 0, 0.1);
  
    transform: translateY(-2px);
  }
.gris{
  background-color: #303B2D;
  color: white;
  border: 1px black solid;
}
.buy-buttongris {
  background-color: #303B2D;
  color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
              0px 2px 4px rgba(0, 0, 0, 0.05);
}
.buy-buttongris:hover {
  background-color: #475344;
  color: white;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 
              0px 2px 4px rgba(0, 0, 0, 0.1);

  transform: translateY(-2px);
}

/*Ingrediente*/
.ingredientes {
  background-color: #FDB38F;
  padding: 30px 10px;
  box-sizing: border-box;
  width: 100%;
}

.ingredientes-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.item {
  padding: 0 20px;
  text-align: center;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  font-family: 'Bitter', serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
}

.item:last-child {
  border-right: none;
}

.item img {
  max-height: 80px;
  width: auto;
  display: block;
}

.item p {
  margin: 0;
  line-height: 1.4;
  font-family: 'Bitter', serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
}

.logo img {
  max-height: 40px;
  width: auto;
}

@media (max-width: 768px) {
  .ingredientes-contenido {
    flex-direction: column;
    border-left: none;
    border-right: none;
  }

  .item {
    border-right: none;
    border-bottom: 1px solid #000;
    padding: 15px 0;
    width: 100%;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;
  }

  .item:last-child {
    border-bottom: none;
  }

  .item img {
    max-height: 60px;
    margin-bottom: 10px;
  }

  .logo img {
    max-height: 30px;
  }
}


  /*Amantes de la cerveza */
  .cerveza-limpia {
    background-color: #A6C3AE;
    padding: 60px 20px;
    font-family: 'Lato', sans-serif;
    color: #000;
    text-align: center;
  }
  
  .texto-superior h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-family: 'Bitter', serif;
    font-weight: 900;
  }
  
  .texto-superior h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Bitter', serif;
    font-weight: 600;
  }
  
  .texto-superior p {
    font-size: 1rem;
    max-width: 700px;
    margin: 0 auto 20px;
    font-family: 'Bitter', serif;
    font-weight: 500;
  }
  
  .texto-superior hr {
    width: 60px;
    height: 3px;
    border: none;
    margin: 20px auto;
  }
  
  .contenido-central {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
    font-family: 'Bitter', serif;
    font-weight: 500;
  }
  
  .info {
    max-width: 300px;
    text-align: left;
    line-height: 1.6;

  }
  
  .botella {
    position: relative;
    margin-top: -30px;
    z-index: 2;

  }
  
  .botella img {
    width: 180px;
    height: auto;
    z-index: 2;
  }
  
  .burbuja {
    position: absolute;
    top: -20px;
    right: -35px;
    background-color: #60866a;
    color: white;
    padding: 10px 12px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.1;
    width: 75px;
    height: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
  }
  @media (max-width: 768px) {
    .contenido-central {
      flex-direction: column;
      gap: 30px;
    }
  
    .info {
      text-align: center;
      max-width: 90%;
    }
  
    .botella img {
      width: 140px;
    }
  
    .burbuja {
      top: -5px;
      right: 0;
      font-size: 0.8rem;
      width: 70px;
      padding: 8px;
    }
  }
  
  /*nuestra historia*/
  .historia {
    background-color: #FF8040;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  
  .contenido-principal {
    text-align: center;
    max-width: 700px;
  }
  
  .contenido-principal h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: #000;
    margin-bottom: 16px;
    font-family: 'Bitter', serif;
    font-weight: 500; /* Medium */
    font-style: italic
  }
  
  .contenido-principal p {
    font-size: 1.05rem;
    margin-bottom: 20px;
    font-family: 'Bitter', serif;
  font-weight: 500;
  text-align: justify;
  }
  
  .contenido-principal button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: white;
    border: 1px black solid;
    border-radius: 9px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 
                0px 2px 4px rgba(0, 0, 0, 0.05);
  font-family: 'Bitter', serif;
  font-weight: 500;
  }
  
  .contenido-principal button:hover {
    background-color: #496250;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 
                0px 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  .info-video {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-video img {
    width: 100%;
    max-width: 300px;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .info-video img:hover {
    transform: scale(1.05);
  }
  
  
  /* Caja inferior */
  .caja-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #BD5C4C;
    color: black;
    border-radius: 20px;
    padding: 40px;
    gap: 40px;
    max-width: 100%;
    width: 100%;
  }
  
  .info-izquierda {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .info-izquierda h2 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .info-izquierda p {
    font-size: 1rem;
    font-family: 'Bitter', serif;
  font-weight: 500;
  text-align: justify;
  }
  
  .imagen {
    display: flex;
    justify-content: flex-start;
  }
  
  .imagen img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
  }
  
  .info-derecha p {
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Bitter', serif;
  font-weight: 500;
  text-align: justify;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .caja-info {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .info-izquierda,
    .info-derecha {
      align-items: center;
    }
  
    .imagen {
      justify-content: center;
    }
  }

  .top-bar {
      text-align: center;
      padding: 20px;
    }
    .top-bar a {
      color: #d83a3a;
      text-decoration: none;
      font-weight: bold;
    }
    .btn-verperfil {
      background-color: #4b5c4d;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      margin-top: 10px;
      cursor: pointer;
      font-family: 'Bitter', serif;
      font-weight: 500;

    }
    .gallery {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px;
    }
    .gallery img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
    }
    .logo {
      text-align: center;
      margin: 20px 0;
      font-size: 24px;
      font-weight: bold;
      color: #4b5c4d;
    }
    .main-section {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .main {
    color:white;
    }
    .column {
      flex: 1 1 200px;
      margin: 10px;
    }
    .column h3 {
      color: #4b5c4d;
    }
    .footer-icons {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      font-size: 12px;
    }



    /*footer*/
    .instagram-section {
      text-align: center;
      padding: 30px 15px;
      background-color: transparent;
    }

    .instagram-section h3 {
      font-size: 1.3rem;
      margin-bottom: 20px;
      background-color: #A6C6AF;
      font-family: 'Bitter', serif;
      font-weight: 900;

    }
    .instagram-section {
      background-color: #A6C6AF;
      padding: 20px 0;
      text-align: center;
    }

    .instagram-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
    }

    .instagram-grid img {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      padding: 20px 0;
      margin-bottom: -40px; 
      z-index: 2;
      position: relative;

    }
    .instagram{
      color:#CC5055;
      font-family: 'Bitter', serif;
      font-weight: 900;
    }
    .btn-view-profile {
      background-color: #fff; /* Color base para que el cambio se note */
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      border: 1px black solid;
      border-radius: 9px;
      font-family: 'Bitter', serif;
      font-weight: 500;
    }
    
    .btn-view-profile:hover {
      background-color: #496250;
      color: white;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 
                  0px 2px 4px rgba(0, 0, 0, 0.1);
      transform: translateY(-2px);
    }

    /* ===== FOOTER ===== */
    .footer {
      background-color: #A6C6AF;
      padding: 40px 20px 10px;
      text-align: center;
      font-family: 'Bitter', serif;
      font-weight: 500;
    }

    .footer-logo {
      width: 140px;
      margin: 0 auto 30px;
    }

    .formulario {
      max-width: 400px;
      margin: 0 auto 30px;
    }

    .formulario h3 {
      margin-bottom: 10px;
      font-size: 1.5em;
    }

    .formulario input[type="email"] {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 2px solid #000;
      background: transparent;
      font-size: 1rem;
    }

    .formulario label {
      font-size: 0.9rem;
      display: block;
      margin-top: 10px;
    }
    .Enviarformulario{
      padding: 10px;
      background-color: #fff; /* Color base para que el cambio se note */
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      border: 1px black solid;
      border-radius: 9px;
      font-family: 'Bitter', serif;
      font-weight: 500;
      margin-top: 20px;
    }
    
    .Enviarformulario:hover {
      background-color: #496250;
      color: white;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 
                  0px 2px 4px rgba(0, 0, 0, 0.1);
      transform: translateY(-2px);
    }
    .footer-columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      margin-top: 40px;
    }

    .footer-col {
      flex: 1 1 200px;
      margin: 10px;
      text-align: center;
    }

    .footer-col h4 {
      font-weight: bold;
      margin-bottom: 10px;
      font-family: 'Bitter', serif;
      font-weight: 500;
    }

    .footer-col ul {
      list-style: none;
      padding: 0;
    }

    .footer-col ul li {
      margin-bottom: 6px;
      font-size: 0.95rem;
    }

    .footer-icons {
      margin-top: 30px;
      padding-top: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      background-color: #A6C6AF; /* color de fondo como en tu imagen */
    }
    
    .footer-icon-item {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1rem;
      color: #222;
      text-align: center;
      margin: 10px 20px;
    }
    
    .footer-icon-item img {
      width: 80px;
      height: auto;
    }
    

    @media (max-width: 768px) {
      .footer-columns {
        flex-direction: column;
        text-align: center;
      }
      .footer-col {
        margin-bottom: 20px;
      }
      .footer-icons {
        flex-direction: column;
        gap: 10px;
      }
    }
